body {
  font-family: Arial, sans-serif;
}

/* .container {
  max-width: 1100px;
  margin: 30px auto;
} */

.item-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 4fr;
  background-color: red;
}

.item {
  background-color: aqua;
  border: 1px black solid;
  padding: 1rem;
  text-align: center;
}
