body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1100px;
  margin: 30px auto;
  background: rgb(75, 151, 218);
}

.item {
  background-color: coral;
  padding: 1rem;
  border: 1px solid black;
  text-align: center;
}

.item-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
