* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto 1fr auto;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  grid-column: 1 /3;
}

nav {
  background-color: #444;
  color: #fff;
  padding: 20px;
  grid-column: 1 /2;
}

.search {
  background-color: #666;
  color: #fff;
  padding: 20px;
  grid-column: 2/3;
}

main {
  background-color: #f0f0f0;
  padding: 20px;
  grid-row: 3/4;
}

aside {
  background-color: #ddd;
  padding: 20px;
  grid-column: 2/3;
}

footer {
  background-color: #666;
  color: #fff;
  padding: 20px;
  grid-column: 1/3;
}
